n8n-workflows/1-Security Agent.json
{
  "name": "Security Agent ",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following driver/firmware code changes for security vulnerabilities.\n\nBranch: {{ $json.body_branch }}\nFiles changed: {{ $json.body_files_changed }}\n\nDiff:\n{{ $json.body_diff }}\n\nStatic analysis output (for context):\n{{ $json.body_static_analysis }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an embedded systems security engineer. Your role is to identify security vulnerabilities introduced by code changes in driver and low-level C firmware code.\n\nFocus areas for embedded/driver C code:\n- Memory safety: buffer overflows, stack overflows, use-after-free, double-free, null pointer dereference\n- Integer issues: signed/unsigned mismatch, integer overflow, truncation\n- Hardware interaction: unvalidated register values, missing bounds checks on hardware-provided data, race conditions in ISR/main context\n- Cryptographic issues: hardcoded keys/credentials, weak RNG usage, insecure data storage\n- Input validation: missing validation of data from external interfaces (UART, SPI, I2C, CAN), command injection patterns\n- Privilege and access: unintended privileged execution, missing memory protection unit (MPU) configuration\n\nScoring (0-100):\n- Critical vulnerability (exploitable, data corruption, system compromise): -40\n- High vulnerability (likely exploitable under specific conditions): -25\n- Medium vulnerability (exploitable with significant preconditions): -15\n- Low vulnerability (defense-in-depth issue, minimal direct impact): -5\n- If no issues found: score is 100\n- Cap minimum score at 0\n\nBe conservative — only flag genuine security concerns, not style issues. Do not overkill but be fair. Cite the exact line from the diff for every finding.\n\nReturn ONLY valid JSON. No markdown, no explanation outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3840,
        -304
      ],
      "id": "a14b2651-6ddd-4cc5-bfed-2f69bafb52a0",
      "name": "Security Agent",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100\n    },\n    \"vulnerability_count\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"critical\": { \"type\": \"integer\", \"minimum\": 0 },\n        \"high\":     { \"type\": \"integer\", \"minimum\": 0 },\n        \"medium\":   { \"type\": \"integer\", \"minimum\": 0 },\n        \"low\":      { \"type\": \"integer\", \"minimum\": 0 }\n      },\n      \"required\": [\"critical\", \"high\", \"medium\", \"low\"]\n    },\n    \"vulnerabilities\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"severity\": {\n            \"type\": \"string\",\n            \"enum\": [\"critical\", \"high\", \"medium\", \"low\"]\n          },\n          \"category\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"memory_safety\",\n              \"integer_issues\",\n              \"hardware_interaction\",\n              \"cryptographic_issues\",\n              \"input_validation\",\n              \"privilege_access\"\n            ]\n          },\n          \"title\": { \"type\": \"string\" },\n          \"location\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"affected_code\": { \"type\": \"string\" },\n          \"remediation\": { \"type\": \"string\" },\n          \"cwe\": { \"type\": \"string\" }\n        },\n        \"required\": [\n          \"id\",\n          \"severity\",\n          \"category\",\n          \"title\",\n          \"location\",\n          \"description\",\n          \"affected_code\",\n          \"remediation\",\n          \"cwe\"\n        ]\n      }\n    },\n    \"summary\": { \"type\": \"string\" },\n    \"systemic_concerns\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"blocks_merge\": { \"type\": \"boolean\" }\n  },\n  \"required\": [\n    \"score\",\n    \"vulnerability_count\",\n    \"vulnerabilities\",\n    \"summary\",\n    \"systemic_concerns\",\n    \"blocks_merge\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3680,
        -128
      ],
      "id": "dfac040a-93f2-45d1-8c95-0f07198c8a21",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"llm_role\": \"security\",\n  \"output\": {{ $json.output }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3472,
        -304
      ],
      "id": "94742c2d-7b7b-431b-87ec-d1ff772e444a",
      "name": "Add LLM Role"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -4064,
        -304
      ],
      "id": "a4e98373-1327-4ac4-9cb8-d619b88d9b4d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.resumeUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"llm_role\" : {{ JSON.stringify($json.llm_role) }},\n  \"output\" : {{ JSON.stringify($json.output) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3264,
        -304
      ],
      "id": "147d6a02-0cec-413a-8b7c-92ad203efaaf",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3872,
        -112
      ],
      "id": "ffab0c55-046e-4f15-9fcb-d2a5e6601b24",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3Kk2KY4hIKZ5qYzt",
          "name": "OpenAI account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "body": {
            "author": "Yavuz Murat TAŞ",
            "commit_message": "LRU-659 ornekasdasdasd",
            "timestamp": "2026-07-14T15:57:26.489598",
            "repo": "githooktest",
            "branch": "main",
            "files_changed": [
              ".githooks/commit-msg"
            ],
            "diff": "diff --git a/.githooks/commit-msg b/.githooks/commit-msg\nindex af1d02b..660e30f 100755\n--- a/.githooks/commit-msg\n+++ b/.githooks/commit-msg\n@@ -5,14 +5,17 @@ import re\n import json\n import subprocess\n import datetime\n+import requests\n \n-if sys.platform == \"win32\":\n+from hook_config import MISRA_ADDON_PATH, MISRA_RULE_TEXT_PATH, REPORT_WEBHOOK_URL, WEBHOOK_URL, OUTPUT_DIR, PYTHON_BIN\n+from hook_utils import ask_user, run_git_cmd, parse_jira_issue_key, get_changed_lines, filter_static_output, filter_misra_lines\n+from hook_utils import IS_WINDOWS\n+\n+if IS_WINDOWS:\n     import io\n     sys.stdout = io.TextIOWrapper(sys.stdout.buffer, encoding=\"utf-8\", errors=\"replace\")\n     sys.stderr = io.TextIOWrapper(sys.stderr.buffer, encoding=\"utf-8\", errors=\"replace\")\n \n-from curl_cffi import requests\n-from hook_config import IS_WINDOWS, MISRA_ADDON_PATH, MISRA_RULE_TEXT_PATH, REPORT_WEBHOOK_URL, WEBHOOK_URL, OUTPUT_DIR, PYTHON_BIN\n \n os.makedirs(OUTPUT_DIR, exist_ok=True)\n \n@@ -23,10 +26,6 @@ llm_pipeline_failed             = False\n required_violations = []\n advisory_violations = []\n \n-def parse_jira_issue_key(commit_msg: str = None):\n-    _jira_match  = re.match(r'^([A-Z]+-\\d+)', commit_msg)\n-    jira_key     = _jira_match.group(1) if _jira_match else None\n-    return jira_key\n \n def report_commit(report_reasons: list, md_document: str = None):\n     \"\"\"Bypass/override durumlarını ayrı bir n8n webhook'una raporlar.\"\"\"\n@@ -104,29 +103,6 @@ def exit_pipeline_failed(misra_violations):\n     llm_pipeline_failed = True\n     exit_accept_commit(misra_violations, md_document=\"\")\n \n-def ask_user(prompt):\n-    \"\"\"Git hook'ları stdin'i terminale bağlamadığı için doğrudan terminal cihazından okur.\"\"\"\n-    candidates = [\"CON\"] if IS_WINDOWS else [\"/dev/tty\"]\n-    # Git Bash bazen /dev/tty'yi de destekler, fallback olarak dene\n-    if IS_WINDOWS:\n-        candidates.append(\"/dev/tty\")\n-\n-    for tty_path in candidates:\n-        try:\n-            with open(tty_path, 'r') as tty:\n-                print(prompt, end='', flush=True)\n-                return tty.readline().strip()\n-        except (OSError, FileNotFoundError):\n-            continue\n-\n-    print(\"\\nEtkileşimli terminal bulunamadı, otomatik olarak reddediliyor.\")\n-    return \"n\"\n-\n-def run_git_cmd(args):\n-    try:\n-        return subprocess.check_output(args, stderr=subprocess.DEVNULL).decode(\"utf-8\").strip()\n-    except subprocess.CalledProcessError:\n-        return \"\"\n \n def run_build():\n     \"\"\"\n@@ -211,164 +187,6 @@ def run_build():\n             \"raw_output\":    combined\n             }  # devam et\n \n-FUNC_SIGNATURE_RE = re.compile(\n-    r'^[A-Za-z_][\\w\\s\\*]*\\b\\w+\\s*\\([^;{}]*\\)\\s*$'\n-)\n-\n-\n-def find_function_ranges(filepath):\n-    \"\"\"\n-    Dosyadaki fonksiyon gövdelerinin (başlangıç, bitiş) satır numaralarını bulur.\n-    Brace-depth takibi + fonksiyon imzası sezgisiyle çalışır.\n-    Struct/union/enum gibi top-level blokları fonksiyon sanmamak için\n-    açılan '{' öncesindeki metnin fonksiyon imzasına benzeyip benzemediğine bakılır.\n-    \"\"\"\n-    try:\n-        with open(filepath, \"r\", encoding=\"utf-8\", errors=\"replace\") as f:\n-            lines = f.readlines()\n-    except OSError:\n-        return []\n-\n-    ranges = []\n-    depth = 0\n-    pending_sig_lines = []\n-    func_start_line = None\n-\n-    for idx, line in enumerate(lines, start=1):\n-        open_count  = line.count(\"{\")\n-        close_count = line.count(\"}\")\n-\n-        if depth == 0 and open_count > 0:\n-            pending_sig_lines.append(line)\n-            signature_text  = \" \".join(s.strip() for s in pending_sig_lines)\n-            sig_before_brace = signature_text.split(\"{\", 1)[0].strip()\n-\n-            is_function_sig = bool(FUNC_SIGNATURE_RE.match(sig_before_brace)) and \"(\" in sig_before_brace\n-\n-            if is_function_sig:\n-                func_start_line = idx if func_start_line is None else func_start_line\n-            pending_sig_lines = []\n-\n-        elif depth == 0 and open_count == 0 and close_count == 0:\n-            stripped = line.strip()\n-            if stripped and not stripped.startswith((\"//\", \"/*\", \"*\")):\n-                pending_sig_lines.append(line)\n-                if len(pending_sig_lines) > 10:\n-                    pending_sig_lines = pending_sig_lines[-10:]\n-\n-        elif depth == 0:\n-            pending_sig_lines = []\n-\n-        depth += open_count - close_count\n-\n-        if depth == 0 and func_start_line is not None and close_count > 0:\n-            ranges.append((func_start_line, idx))\n-            func_start_line = None\n-\n-    return ranges\n-\n-\n-def expand_lines_to_functions(filepath, line_numbers):\n-    \"\"\"\n-    Verilen satır numaralarını, bulundukları fonksiyonun tüm satır aralığına genişletir.\n-    Fonksiyon dışı (global scope) satırlar olduğu gibi kalır.\n-    \"\"\"\n-    if not line_numbers:\n-        return set()\n-\n-    ranges = find_function_ranges(filepath)\n-    expanded = set()\n-\n-    for ln in line_numbers:\n-        matched = False\n-        for start, end in ranges:\n-            if start <= ln <= end:\n-                expanded.update(range(start, end + 1))\n-                matched = True\n-                break\n-        if not matched:\n-            expanded.add(ln)\n-\n-    return expanded\n-\n-def get_changed_lines(files):\n-    \"\"\"\n-    'git diff --cached -U0' çıktısından değişen satırları bulur,\n-    sonra her satırı bulunduğu fonksiyonun tüm aralığına genişletir.\n-    \"\"\"\n-    changed_lines = {}\n-\n-    diff_output = run_git_cmd([\"git\", \"diff\", \"--cached\", \"-U0\", \"--\"] + files)\n-    if not diff_output:\n-        return changed_lines\n-\n-    current_file = None\n-    for line in diff_output.splitlines():\n-        if line.startswith(\"+++ \"):\n-            path = line[4:].strip()\n-            if path == \"/dev/null\":\n-                current_file = None\n-            else:\n-                current_file = path.split(\"/\", 1)[1] if path.startswith((\"a/\", \"b/\")) else path\n-                changed_lines.setdefault(current_file, set())\n-            continue\n-\n-        if line.startswith(\"@@\") and current_file is not None:\n-            match = re.search(r'\\+(\\d+)(?:,(\\d+))?', line)\n-            if match:\n-                start_line = int(match.group(1))\n-                line_count = int(match.group(2)) if match.group(2) is not None else 1\n-                for ln in range(start_line, start_line + line_count):\n-                    changed_lines[current_file].add(ln)\n-\n-    # ── Değişen satırları fonksiyon sınırlarına genişlet ──────────────────────\n-    expanded_changed_lines = {}\n-    for filename, lines in changed_lines.items():\n-        if os.path.exists(filename):\n-            expanded_changed_lines[filename] = expand_lines_to_functions(filename, lines)\n-        else:\n-            expanded_changed_lines[filename] = lines\n-\n-    return expanded_changed_lines\n-\n-\n-def _normalize_path(p):\n-    return os.path.normpath(p).replace(\"\\\\\", \"/\")\n-\n-\n-def _is_line_relevant(filename, lineno, changed_lines):\n-    filename_norm = _normalize_path(filename)\n-    for f, lines in changed_lines.items():\n-        if _normalize_path(f) == filename_norm:\n-            return lineno in lines\n-    return False\n-\n-STATIC_LINE_RE = re.compile(r'^(?P<file>[^:]+):(?P<line>\\d+): (?P<severity>\\w+): (?P<message>.+)$')\n-MISRA_LINE_RE  = re.compile(r'^\\[(?P<file>.+?):(?P<line>\\d+)\\]')\n-\n-\n-def filter_static_output(raw_output, changed_lines):\n-    \"\"\"Sadece değişen satırlarla ilgili statik analiz satırlarını tutar.\"\"\"\n-    relevant = []\n-    for line in raw_output.splitlines():\n-        m = STATIC_LINE_RE.match(line)\n-        if not m:\n-            continue  # 'Active checkers' gibi özet satırları atla\n-        if _is_line_relevant(m.group(\"file\"), int(m.group(\"line\")), changed_lines):\n-            relevant.append(line)\n-    return relevant\n-\n-\n-def filter_misra_lines(lines_list, changed_lines):\n-    \"\"\"Sadece değişen satırlarla ilgili MISRA ihlallerini tutar.\"\"\"\n-    relevant = []\n-    for line in lines_list:\n-        m = MISRA_LINE_RE.match(line)\n-        if not m:\n-            continue\n-        if _is_line_relevant(m.group(\"file\"), int(m.group(\"line\")), changed_lines):\n-            relevant.append(line)\n-    return relevant\n \n def run_analysis(files):\n     c_files = [f for f in files if f.endswith((\".c\", \".h\")) and os.path.exists(f)]\n@@ -444,6 +262,9 @@ def run_analysis(files):\n     }\n \n \n+\n+############################ ENTRY POINT ############################\n+\n # --- commit-msg hook: $1 = mesaj dosyasının path'i ---\n if len(sys.argv) < 2:\n     msg = \"⚠️  Commit mesajı bulunamadı.\"\n@@ -532,9 +353,7 @@ try:\n     response = requests.post(\n         WEBHOOK_URL,\n         json=payload,\n-        # verify=False,\n-        # impersonate=\"chrome120\",\n-        timeout=180          # 4 LLM paralel + hakem — 120sn yeterli olmalı\n+        timeout=180          # 4 LLM paralel + hakem — 180sn yeterli olmalı\n     )\n \n     if response.status_code != 200:",
            "static_analysis": "No C/H files changed.",
            "misra_required_violations": [],
            "misra_advisory_violations": [],
            "build_outputs": {
              "success": true,
              "error_lines": [],
              "warning_lines": [],
              "raw_output": ""
            }
          },
          "resumeUrl": "http://localhost:5678/webhook-waiting/494?signature=5d7c94db2b14e9ea4f167fff8d961df70929687b293f34dfddeaeb2f9dafcd9f",
          "body_static_analysis": "No C/H files changed.",
          "body_files_changed": [
            ".githooks/commit-msg"
          ],
          "body_branch": "main",
          "body_diff": "diff --git a/.githooks/commit-msg b/.githooks/commit-msg\nindex af1d02b..660e30f 100755\n--- a/.githooks/commit-msg\n+++ b/.githooks/commit-msg\n@@ -5,14 +5,17 @@ import re\n import json\n import subprocess\n import datetime\n+import requests\n \n-if sys.platform == \"win32\":\n+from hook_config import MISRA_ADDON_PATH, MISRA_RULE_TEXT_PATH, REPORT_WEBHOOK_URL, WEBHOOK_URL, OUTPUT_DIR, PYTHON_BIN\n+from hook_utils import ask_user, run_git_cmd, parse_jira_issue_key, get_changed_lines, filter_static_output, filter_misra_lines\n+from hook_utils import IS_WINDOWS\n+\n+if IS_WINDOWS:\n     import io\n     sys.stdout = io.TextIOWrapper(sys.stdout.buffer, encoding=\"utf-8\", errors=\"replace\")\n     sys.stderr = io.TextIOWrapper(sys.stderr.buffer, encoding=\"utf-8\", errors=\"replace\")\n \n-from curl_cffi import requests\n-from hook_config import IS_WINDOWS, MISRA_ADDON_PATH, MISRA_RULE_TEXT_PATH, REPORT_WEBHOOK_URL, WEBHOOK_URL, OUTPUT_DIR, PYTHON_BIN\n \n os.makedirs(OUTPUT_DIR, exist_ok=True)\n \n@@ -23,10 +26,6 @@ llm_pipeline_failed             = False\n required_violations = []\n advisory_violations = []\n \n-def parse_jira_issue_key(commit_msg: str = None):\n-    _jira_match  = re.match(r'^([A-Z]+-\\d+)', commit_msg)\n-    jira_key     = _jira_match.group(1) if _jira_match else None\n-    return jira_key\n \n def report_commit(report_reasons: list, md_document: str = None):\n     \"\"\"Bypass/override durumlarını ayrı bir n8n webhook'una raporlar.\"\"\"\n@@ -104,29 +103,6 @@ def exit_pipeline_failed(misra_violations):\n     llm_pipeline_failed = True\n     exit_accept_commit(misra_violations, md_document=\"\")\n \n-def ask_user(prompt):\n-    \"\"\"Git hook'ları stdin'i terminale bağlamadığı için doğrudan terminal cihazından okur.\"\"\"\n-    candidates = [\"CON\"] if IS_WINDOWS else [\"/dev/tty\"]\n-    # Git Bash bazen /dev/tty'yi de destekler, fallback olarak dene\n-    if IS_WINDOWS:\n-        candidates.append(\"/dev/tty\")\n-\n-    for tty_path in candidates:\n-        try:\n-            with open(tty_path, 'r') as tty:\n-                print(prompt, end='', flush=True)\n-                return tty.readline().strip()\n-        except (OSError, FileNotFoundError):\n-            continue\n-\n-    print(\"\\nEtkileşimli terminal bulunamadı, otomatik olarak reddediliyor.\")\n-    return \"n\"\n-\n-def run_git_cmd(args):\n-    try:\n-        return subprocess.check_output(args, stderr=subprocess.DEVNULL).decode(\"utf-8\").strip()\n-    except subprocess.CalledProcessError:\n-        return \"\"\n \n def run_build():\n     \"\"\"\n@@ -211,164 +187,6 @@ def run_build():\n             \"raw_output\":    combined\n             }  # devam et\n \n-FUNC_SIGNATURE_RE = re.compile(\n-    r'^[A-Za-z_][\\w\\s\\*]*\\b\\w+\\s*\\([^;{}]*\\)\\s*$'\n-)\n-\n-\n-def find_function_ranges(filepath):\n-    \"\"\"\n-    Dosyadaki fonksiyon gövdelerinin (başlangıç, bitiş) satır numaralarını bulur.\n-    Brace-depth takibi + fonksiyon imzası sezgisiyle çalışır.\n-    Struct/union/enum gibi top-level blokları fonksiyon sanmamak için\n-    açılan '{' öncesindeki metnin fonksiyon imzasına benzeyip benzemediğine bakılır.\n-    \"\"\"\n-    try:\n-        with open(filepath, \"r\", encoding=\"utf-8\", errors=\"replace\") as f:\n-            lines = f.readlines()\n-    except OSError:\n-        return []\n-\n-    ranges = []\n-    depth = 0\n-    pending_sig_lines = []\n-    func_start_line = None\n-\n-    for idx, line in enumerate(lines, start=1):\n-        open_count  = line.count(\"{\")\n-        close_count = line.count(\"}\")\n-\n-        if depth == 0 and open_count > 0:\n-            pending_sig_lines.append(line)\n-            signature_text  = \" \".join(s.strip() for s in pending_sig_lines)\n-            sig_before_brace = signature_text.split(\"{\", 1)[0].strip()\n-\n-            is_function_sig = bool(FUNC_SIGNATURE_RE.match(sig_before_brace)) and \"(\" in sig_before_brace\n-\n-            if is_function_sig:\n-                func_start_line = idx if func_start_line is None else func_start_line\n-            pending_sig_lines = []\n-\n-        elif depth == 0 and open_count == 0 and close_count == 0:\n-            stripped = line.strip()\n-            if stripped and not stripped.startswith((\"//\", \"/*\", \"*\")):\n-                pending_sig_lines.append(line)\n-                if len(pending_sig_lines) > 10:\n-                    pending_sig_lines = pending_sig_lines[-10:]\n-\n-        elif depth == 0:\n-            pending_sig_lines = []\n-\n-        depth += open_count - close_count\n-\n-        if depth == 0 and func_start_line is not None and close_count > 0:\n-            ranges.append((func_start_line, idx))\n-            func_start_line = None\n-\n-    return ranges\n-\n-\n-def expand_lines_to_functions(filepath, line_numbers):\n-    \"\"\"\n-    Verilen satır numaralarını, bulundukları fonksiyonun tüm satır aralığına genişletir.\n-    Fonksiyon dışı (global scope) satırlar olduğu gibi kalır.\n-    \"\"\"\n-    if not line_numbers:\n-        return set()\n-\n-    ranges = find_function_ranges(filepath)\n-    expanded = set()\n-\n-    for ln in line_numbers:\n-        matched = False\n-        for start, end in ranges:\n-            if start <= ln <= end:\n-                expanded.update(range(start, end + 1))\n-                matched = True\n-                break\n-        if not matched:\n-            expanded.add(ln)\n-\n-    return expanded\n-\n-def get_changed_lines(files):\n-    \"\"\"\n-    'git diff --cached -U0' çıktısından değişen satırları bulur,\n-    sonra her satırı bulunduğu fonksiyonun tüm aralığına genişletir.\n-    \"\"\"\n-    changed_lines = {}\n-\n-    diff_output = run_git_cmd([\"git\", \"diff\", \"--cached\", \"-U0\", \"--\"] + files)\n-    if not diff_output:\n-        return changed_lines\n-\n-    current_file = None\n-    for line in diff_output.splitlines():\n-        if line.startswith(\"+++ \"):\n-            path = line[4:].strip()\n-            if path == \"/dev/null\":\n-                current_file = None\n-            else:\n-                current_file = path.split(\"/\", 1)[1] if path.startswith((\"a/\", \"b/\")) else path\n-                changed_lines.setdefault(current_file, set())\n-            continue\n-\n-        if line.startswith(\"@@\") and current_file is not None:\n-            match = re.search(r'\\+(\\d+)(?:,(\\d+))?', line)\n-            if match:\n-                start_line = int(match.group(1))\n-                line_count = int(match.group(2)) if match.group(2) is not None else 1\n-                for ln in range(start_line, start_line + line_count):\n-                    changed_lines[current_file].add(ln)\n-\n-    # ── Değişen satırları fonksiyon sınırlarına genişlet ──────────────────────\n-    expanded_changed_lines = {}\n-    for filename, lines in changed_lines.items():\n-        if os.path.exists(filename):\n-            expanded_changed_lines[filename] = expand_lines_to_functions(filename, lines)\n-        else:\n-            expanded_changed_lines[filename] = lines\n-\n-    return expanded_changed_lines\n-\n-\n-def _normalize_path(p):\n-    return os.path.normpath(p).replace(\"\\\\\", \"/\")\n-\n-\n-def _is_line_relevant(filename, lineno, changed_lines):\n-    filename_norm = _normalize_path(filename)\n-    for f, lines in changed_lines.items():\n-        if _normalize_path(f) == filename_norm:\n-            return lineno in lines\n-    return False\n-\n-STATIC_LINE_RE = re.compile(r'^(?P<file>[^:]+):(?P<line>\\d+): (?P<severity>\\w+): (?P<message>.+)$')\n-MISRA_LINE_RE  = re.compile(r'^\\[(?P<file>.+?):(?P<line>\\d+)\\]')\n-\n-\n-def filter_static_output(raw_output, changed_lines):\n-    \"\"\"Sadece değişen satırlarla ilgili statik analiz satırlarını tutar.\"\"\"\n-    relevant = []\n-    for line in raw_output.splitlines():\n-        m = STATIC_LINE_RE.match(line)\n-        if not m:\n-            continue  # 'Active checkers' gibi özet satırları atla\n-        if _is_line_relevant(m.group(\"file\"), int(m.group(\"line\")), changed_lines):\n-            relevant.append(line)\n-    return relevant\n-\n-\n-def filter_misra_lines(lines_list, changed_lines):\n-    \"\"\"Sadece değişen satırlarla ilgili MISRA ihlallerini tutar.\"\"\"\n-    relevant = []\n-    for line in lines_list:\n-        m = MISRA_LINE_RE.match(line)\n-        if not m:\n-            continue\n-        if _is_line_relevant(m.group(\"file\"), int(m.group(\"line\")), changed_lines):\n-            relevant.append(line)\n-    return relevant\n \n def run_analysis(files):\n     c_files = [f for f in files if f.endswith((\".c\", \".h\")) and os.path.exists(f)]\n@@ -444,6 +262,9 @@ def run_analysis(files):\n     }\n \n \n+\n+############################ ENTRY POINT ############################\n+\n # --- commit-msg hook: $1 = mesaj dosyasının path'i ---\n if len(sys.argv) < 2:\n     msg = \"⚠️  Commit mesajı bulunamadı.\"\n@@ -532,9 +353,7 @@ try:\n     response = requests.post(\n         WEBHOOK_URL,\n         json=payload,\n-        # verify=False,\n-        # impersonate=\"chrome120\",\n-        timeout=180          # 4 LLM paralel + hakem — 120sn yeterli olmalı\n+        timeout=180          # 4 LLM paralel + hakem — 180sn yeterli olmalı\n     )\n \n     if response.status_code != 200:"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Security Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Security Agent": {
      "main": [
        [
          {
            "node": "Add LLM Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Security Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add LLM Role": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Security Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1869d85f-a66b-4632-b60b-f5ca50efc994",
  "meta": {
    "instanceId": "3cc9a2ffbde4c15dca28560a81b0d5000b779492638426740797425e7778544a"
  },
  "nodeGroups": [],
  "id": "ZWKjS2o4QVCi13Rz",
  "tags": []
}